* {
  box-sizing: border-box;
}

.text-title-s {
    font-size: var(--size-20);
    font-weight: var(--weight-semibold);
    color: var(--greyscale-900);
}

.text-body-m {
    font-size: var(--size-16);
    font-weight: var(--weight-regular);
    color: var(--greyscale-700)
}

.text-body-s {
    font-size: var(--size-14);
    font-weight: var(--weight-regular);
    color: var(--greyscale-400);
}

html {
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
    font-family: 'Pretendard Variable', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    margin-top: 64px; /* 네비바 높이만큼 확보 */
}

a {
    text-decoration: none;
    color: inherit;
}

a img {
  display: block;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 9999;
    width:100%;
    height: 64px;
    padding: 0px 80px 0px 80px;
    background-color: #ffffff80;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #E6E6E680;
    display: flex;
    justify-content: space-between
}

.navbar__logo{
    display: flex;
    font-weight: 700;
    color: var(--black);
    font-size: 17px;
    align-items: center; 
}

.navbar__contents{
    align-items: center; 
    display: flex;
    gap: 16px;
}

.navbar__item{
    font-size: 18px;
    font-weight: 600;
    color: var(--greyscale-700);
    padding: 16px 8px 16px 8px;
    text-decoration: none;
}

.logo__link{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width:100%;
    padding: 32px 0px 28px 0px;
}

.footer__email{
    font-size: 14px;
    font-weight: 400;
    color: var(--greyscale-300);
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer__text{
    font-size: 14px;
    font-weight: 400;
    color: var(--greyscale-300);
}

.contents{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contents__item{
    color: var(--greyscale-700);
    padding: 40px;
    border: solid 1px var(--greyscale-100);
    border-radius: 16px;
    background-color: #fafafa;
}

.card__contents {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title {
    color:var(--greyscale-900);
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
}

.text {
    color:var(--greyscale-700);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
}

.card {
    background-color: #fff;
    display: flex;
    max-width: 840px;
    border-radius: 24px;
    box-shadow: #111111;
    padding: 64px 40px 64px 24px;
    gap: 80px;
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.05);
    opacity: 0;
    transform: translateY(40px);
    animation: fade 1s ease-out forwards;
}

@keyframes fade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    border: 0px solid #eeeeee;
    border-radius: 12px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.button img {
  display: block;
  width: 32px;
  height: 32px;
}

.information {
    display: flex;
    gap:12px;
    align-items: center;
    margin-top: 16px;
}


@media (max-width: 810px) {
    .card {
        flex-direction: column;
    }
    .title {
        font-size: 32px;
    }
    .information {
        justify-content: center;
    }
}

#lottie-container > svg {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 300px !important;
    height: 300px !important;
    display: block;
    object-fit: contain;
}